
<div class="row" id="loginContainer">

  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-5">Email: </label>
      <div class="col-sm-2">
        <input type="email" class="form-control" size="40" placeholder="Email" name="email" id="email" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5">Password: </label>
      <div class="col-sm-2">
        <input type="password" class="form-control" size="40" placeholder="Password" name="password" id="password" required>
      </div>
    </div>
  </form>

  <div class="col-sm-12">
    <div class="checkbox">
      <label><input type="checkbox" value="">Remember me</label>
    </div>
  </div>

  <button (click)="login()" type="submit" class="btn btn-primary">Login</button>

  <div class="col-sm-12" id="register">
    <a routerLink="register">New? Register Now</a>
  </div>



</div>


