<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">Dashboard +</a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Zdravstvena Sluzba</a></li>
      <li><a href="#">Zdravstveno Osiguranje</a></li>
      <li><a href="#">Javno Zdravlje</a></li>
      <li><a [routerLink]="" (click)="navigate('limes')">Lekovi - Medicinska Sredstva</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{{currentUser}}</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="well well-lg">
  Dobrodošli na portal Ministarstva Zdravlja
</div>

<div class="row">
  <router-outlet name="dashboard"></router-outlet>
</div>
