.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.btn{
  margin: 0.5em;
}

#controls{
  visibility: hidden;
}

.form-control{
  margin-top:0.5em;
}

#report, #fromDate, #toDate{
  visibility: hidden;
}
