<div class="row">
  <div class="col-sm-12">
  <button type="button" class="btn btn-info" (click)="select('medicine', 'Lekovi')">Lekovi</button>
  <button type="button" class="btn btn-info" (click)="select('medical-instruments', 'Medicinska sredstva')">Medicinska sredstva</button>
  <button type="button" class="btn btn-info" (click)="select('companies', 'Kompanije')">Kompanije</button>
  <button type="button" class="btn btn-info" (click)="select('medical-testing', 'Ispitivanja')">Ispitivanja</button>
  <button type="button" class="btn btn-info" (click)="select('promotional-materials', 'Promotivni materijal')">Promotivni materijal</button>
  <button type="button" class="btn btn-info" (click)="select('licences', 'Dozvole')">Dozvole</button>
  </div>
</div>

<div class="container">
  <h2>{{name}}</h2>
  <div id="controls">
    <div class="col-sm-1">
      <button (click)="getAll()" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="showAllButton">Show All</button>
    </div>
    <div class="col-sm-2">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="searchTypeButton">Search by
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let key of this.limesService.keys" ><a [routerLink]="" (click)="setLoginType(key)">{{key}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="searchField" aria-describedby="emailHelp" placeholder="Enter search parameter">
    </div>
    <div class="col-sm-1">
      <button (click)="paramSearch()" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="searchButton">Search</button>
    </div>
    <div  class="col-sm-1">
      <button (click)="getReport()" id="report" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Izvestaj</button>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="fromDate" aria-describedby="emailHelp" placeholder="Enter from date">
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="toDate" aria-describedby="emailHelp" placeholder="Enter to date">
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr class="active">
      <th *ngFor="let key of this.limesService.keys" >{{key}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of pageOfItems">
    <tr class="active">
      <td *ngFor="let key of this.limesService.keys; let i = index">{{item[key]}}</td>
    </tr>
    </tbody>
  </table>
</div>
<jw-pagination [items]=" this.limesService.activeData" (changePage)="onChangePage($event)"></jw-pagination>

